@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

$base-color-light: #fbf7f4;
$base-color-dark: #292929;

$title-font: "Montserrat", sans-serif;
$text-font: "IBM Plex Serif", serif;